@mixin abs-position($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between-flex() {
  display: flex;
  justify-content: space-between;
}

@mixin gap-flex($column: null, $row: null) {
  display: flex;
  -moz-column-gap: $column;
  column-gap: $column;
  row-gap: $row;
}
