$base: 14;

$font-family: Arial;

$font-size: 14px;

$font-size-second: 10px;

$font-weight-normal: 400;

$font-weight-medium: 500;

$font-weight-bold: 700;

$font-style: normal;

$line-height: 18px;

$screen-size-s: 576px;

$screen-size-m: 768px;

$screen-size-l: 992px;

$screen-size-xl: 1200px;
